  page-login {
  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .img-bg-login {
    background-image: url('../assets/img/bg-img/00-login-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }

  .img-logo {
    opacity: 0.8;
    margin-bottom: 30px;
  }

  .btn-group-user {
    letter-spacing: -2em;
  }

  .btn-group-user button {
    background-color: #6b0103;
    color: white; 
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 50px 12px;
  }

  .btn-group-user:after {
    clear: both;
    display: table;
  }

  .btn-group-user button:not(:last-child) {
    border-right: none;
  }

  .btn-group-user button:hover {
    background-color: #c31f26;
  }

  .btn-group-user>.btn-click-maker:last-child:not(:first-child), .btn-group-user>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-group-user>.btn-click-grabber:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn-click-grabber {
    font-size: 14px;
    padding: 2px;
    letter-spacing: normal;
  }

  .btn-click-maker {
    font-size: 14px;
  }

  .text-input {
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    color: white;
  }

  .txt-input {
    background-color: transparent;
    margin: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .text-input-md {
    margin: 0px;
  }

  .txt-input-credentials {
    width: 100%;
  }

  .txt-input {
    width: 280px;;
    margin: 0 auto;
  }

  .txt-input-email {
    font-size: 12px;
    margin: 0px;
  }

  .txt-input-pwd {
    font-size: 12px;
    margin: 0px;
  }

  .icon-pwd {
    color: dark;
    float:  right;
    color: white;
  }

  .lbl-forgot-pwd a {
    font-size: 12px;
    color: grey;
    display: inline-block;
    text-align: left;
    width: 280px;
  }

  .btn-signIn {
    font-size: 24px;
  }

  .btn-signIn button{
    background-color: #c31f26;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    height: 50px;
    width: 140px;
    font-weight:bold;
    margin-top: 60px;
    text-align: center;
    align-content: center;
  }

}
