.grid-basic-page {

  ion-col div {
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
  }

  p {
    padding: 10px 0 0 10px !important;
    margin: 0;
  }

  ion-card {
    background-color: #fff;
    width: 100%;
    margin: 10px 0 0 0;
    position: relative;
    transition: 0.3s;
  }
  
  .profile {
    box-shadow: none;
    border-top: 1px solid #dddcdf;
    border-bottom: 1px solid #dddcdf;
  }

  .menu {
    box-shadow: none;
    border-top: 1px solid #dddcdf;
    /*border-bottom: 1px solid grey;*/
  }

  ion-card .user-profile {
    padding-bottom: 10px;
  }

  ion-card .menu {
    box-shadow: none;
  }

  ion-card-title h1{
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    margin-top: 20%; 
    margin-bottom: 20%;
  }
  .user-profile {
    display: block;;
  }

  .avatar {
    top: 50%;
    margin-top: -64px;
    right: 1.5rem;
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-pic {
    border-radius: 50%;
  }

  .account p{
    text-align: center;
    font-size: 12px;
  }

  .lbl {
    font-size: 1.4rem;
  }

  .icon-menu-item {
    
  }

}



